/* Initially hide the unlock icon */
.unlock-icon {
    display: none;
}

/* When the button is hovered, show the unlock icon and hide the lock icon */
.hover-icon:hover .unlock-icon {
    display: inline-block;
}

.hover-icon:hover .lock-icon {
    display: none;
}

/* Initially hide the unlock icon */
.arrow-out {
    display: none;
}

/* When the button is hovered, show the unlock icon and hide the lock icon */
.hover-icon:hover .arrow-out {
    display: inline-block;
}

.hover-icon:hover .arrow-in {
    display: none;
}


/* Previous button */
.carousel-control-prev-icon {
    background-color: black;
    /* Change background color of the "previous" arrow */
    border-radius: 50%;
    /* Optional: Make it circular */
}

/* Next button */
.carousel-control-next-icon {
    background-color: black;
    /* Change background color of the "next" arrow */
    border-radius: 50%;
    /* Optional: Make it circular */
}

/*indicators*/
.carousel-indicators {
    background-color: #dae4ee;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.carousel-caption h5,
.carousel-caption p {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid #e0af79;
}